(
    blocks: [
        (
            id: "air",
            name: "Воздух",
            is_solid: false,
            is_transparent: true,
            color: (0.0, 0.0, 0.0, 0.0),
        ),
    ]
)
